.container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
#canvas,#canvas1
{
    border: 5px solid black;
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.inputContainer
{
    width: 13vw;
    display: flex;
    flex-direction: column;

}
.gravitationalConstant
{
display: flex;
flex-direction: row;
}

